:root {
    --color-verde-claro: #EBFCF4;
    --color-verde-oscuro: #0B4654;
    --color-verde-oscuro-transparente-25: #0B4654;
    --color-azul: #4F90F0;
    --color-negro-: #00000080;
    --color-blanco-transparente-25: #FFFFFF40;
    --color-blanco: #FFFFFF;
    --color-gris: #E0E0E5;
}
* {
    margin: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: none;
    place-items: center;
    justify-content: center;
    background-color: var(--color-blanco);
}
.izquierda {
    position: relative;
    right: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tiiz
    {
        position: absolute;
        color: var(--color-gris);
        top: 2%;
        left: 2%;
        font-weight: bolder;
        font-size: 26px;
        letter-spacing: 4px;
    }
.container-or
    {
        width: inherit;
        display: flex;
        justify-content: center;
        place-items: center;
    }
.container-or p
    {
        padding: 0px 15px;   
    }
.left
    {
        width: 30%;
        border-top: solid var(--color-gris) 1px;
    }
.right
    {
        width: 30%;
        border-top: solid var(--color-gris) 1px;
    }
ul {
    display: flex;
    gap: 44px;
    padding: 0px 20%;
    position: absolute;
    top: 5%;
    left: 0px;
}
li {
    list-style: none;
    font-family: 'Athiti';
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.derecha {
    display: grid;
    place-items: center;
    width: 50%;
    height: 100vh;
    background-color: var(--color-blanco);
    border-radius: 20px;

    /* box-shadow: -4px 0px 5px 0px var(--color-negro-transparente-25); */
}


.img-cont {
    width: 64%;
    height: 80vh;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 28px;
    margin: 0px 35px;
    margin-top: 37px;
}

.logo-container > h1 {
    font-family: 'Athiti';
    font-size: 35px;
    font-weight: 600;
    color: var(--color-verde-oscuro);
}

.form-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    box-shadow: 4px 4px 30px 0px rgba(84, 84, 84, 0.10);    
    width: 400px;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}
.titulo-movil, .titulo-desktop {
    font-family: 'Athiti';
    font-weight: 600;
    font-size: 30px;
    color: var(--color-verde-oscuro);
    margin-bottom: 16px;
    text-align: center;
}
.titulo-movil{
    display: none;
}

.form-control {
    width: 100%;
    position: relative;
    margin-bottom: 18px;
}
.form-control > input {
    width: -webkit-fill-available;
    border-radius: 8px;
    padding: 11px 40px;
    outline: none;
    border: 1px solid var(--color-gris);
    font-family: 'Athiti';
    font-size: 12px;
    color: var(--color-negro-transparente-50);
}
.form-control > i {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    bottom: 50%;
}
.form-control > i:first-child {
    left: 10px;
}
.form-control > i:last-child {
    right: 10px;
    cursor: pointer;
}
.checkbox {
    font-family: 'Athiti';
    font-size: 12px;
    color: var(--color-negro-transparente-50);
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}
.checkbox > label, .checkbox > input {
    cursor: pointer;
}
.checkbox > label > a {
    color: var(--color-azul);
}
.signup {
    width: 100%;
    background-color: var(--color-azul);
    border-radius: 4px;
    padding: 16px 12px;
    border: none;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-blanco);
    margin-bottom: 15px;
    cursor: pointer;
}
.btn-social {
    width: 100%;
    border-radius: 12px;
    padding: 12px 0px;
    border: 1px solid var(--color-gris);
    background-color: var(--color-blanco);
    font-family: 'Athiti';
    font-size: 12px;
    color: var(--color-negro-transparente-50);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
.btn-social > i {
    display: flex;
    align-items: center;
}
.mb-11 {
    margin-bottom: 11px;
}
.login {
    font-family: 'Athiti';
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: var(--color-negro-transparente-50);
    margin-top: 20px;
    margin-bottom: 40px;
}
.login > a {
    color: var(--color-verde);
    cursor: pointer;
}

@media (min-width:900px) 
    {
        .container
            {
                display: flex;
            }
        .mobile-view
            {
                display: none;
            }
    }
@media (max-width:899px) 
    {
        *
            {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
        .mobile-view
            {
                width: 100%;
                height: 100vh;
                display: grid;
                place-items: center;
            }
        .content-form
            {
                display: flex;
                place-items: center;
                flex-direction: column;
                width: 320px;
                height: 100vh;
            }
        .container-image
            {
                position: relative;
                width: 100%;
                height: 28vh;
                background-image: url("./Images/Rectangle\ 1135.png");
                background-position: center;
                background-repeat:no-repeat;
                background-size: cover;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        .cube
            {
                position: absolute;
                display: grid;
                place-items: center;
                left: calc(50% - 60px);
                bottom: -60px;
                width: 120px;
                height: 120px;
                border-radius: 8px;
                background-color: var(--color-blanco);
                box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.708);
            }
        .gray-cube
            {
                width: 90%;
                height: 90%;
                border-radius: 8px;
                background-color: var(--color-gris);
            }
        .core 
            {
                margin: 0;
                width: 100%;
                height: 78vh;
                background-color: none;
                background-color: var(--color-blanco);
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        .core h1
            {
                padding-top: 60px;
                margin-bottom: 10px;
            }
        .login
            {
                padding: 0;
                margin: 0;
            }
    }